{% extends "base.html" %}
{% block content %}
<section data-aos="fade-up" class="fade-in" data-aos="fade-up" class="fade-in" data-aos="fade-up" class="fade-in" data-aos="fade-up" x-data x-intersect="$el.classList.add('fade-in')" data-aos="fade-up" x-data x-intersect="$el.classList.add('fade-in')" x-data x-intersect="$el.classList.add('fade-in')" class="container mx-auto py-12" data-aos="fade-up"">
  <h1 class="text-4xl font-extrabold mb-4">{{ title }}</h1>
  <p class="text-lg text-gray-300">
    This is the {{ title }} page. Content coming soon!
  </p>
</section>
{% endblock %}
