{% extends "base.html" %}
{% block content %}
  <section data-aos="fade-up" class="fade-in" data-aos="fade-up" class="fade-in" data-aos="fade-up" class="fade-in" data-aos="fade-up" x-data x-intersect="$el.classList.add('fade-in')" data-aos="fade-up" x-data x-intersect="$el.classList.add('fade-in')" x-data x-intersect="$el.classList.add('fade-in')" class="container mx-auto py-12" data-aos="fade-up"">
    <h1 class="text-4xl font-extrabold mb-6">{{ title }}</h1>
    <p class="text-lg text-gray-300">
      Welcome to Threat Labsyour on-demand smart-contract sandbox.
    </p>
  </section>
{% endblock %}

